.mainpage-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* position: relative; */
    background: url("/assets/images/rubber-tree-bg.jpg");
    background-size: cover;
    background-position: center;
    /* background-position: fixed; */
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.mainpage-header {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 390px;
    font-size: 26px;
    color: #132113;
    font-style: italic;
    font-weight: 700;
}

/* .mainpage-dummy-second {
    scroll-snap-align: center;
    height: 915px;
} */

/* .mainpage-dummy-third {
    scroll-snap-align: center;
    height: 915px;
    background-color: aliceblue;
} */

.mid-container {
    background: white;
    scroll-snap-align: center;
    /* min-height: 600px; */
    padding-top: 70px;
    padding-bottom: 70px;
}

.mid-container h3 {
  font-size: 45px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.mid-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mid-body-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 45%;
  margin: 10px;
  font-size: 25px;
}


.mid-icon-1 {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    opacity: 0.7;
    
}

.mid-icon-2 {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    opacity: 0.7;
}

.mid-icon-3 {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    opacity: 0.7;
}

.bottom-container {
    scroll-snap-align: center;
    background: url("/assets/images/leaf-striation-bg.jpg");
    opacity: 0.9;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    min-height: 175px;
    color: white;
}

/* .bottom-container {
  display: flex;
  align-items: flex-start;
  padding-top: 70px;
} */

.bottom-container img {
    margin: 0;
    margin-top: 0px;
    margin-left: 15px;
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
}

.bottom-container h3 {
    display: flex;
    align-self: flex-start;
    font-size: 53px;
    margin: 0px;
    padding-bottom: 20px;
    display: flex;
}

.bottom-container h5 {
    display: flex;
    align-self: flex-start;
    margin: 0px;
    font-size: 30px;
    padding-top: 6px;
}

.bottom-container  p {
    margin: 0px;
    padding-top: 20px;
    font-size: 23px;
    font-weight: bolder;
    padding-bottom: 50px;
}

