.post-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    font-family: 'Muli', sans-serif;
    padding: 10px;
    /* margin-bottom: 50px; */
    /* background-color: grey; */
  /* background-color: white; */
  /* width: 420px;
  height: 300px;
  border-radius: 35px; */

  }
  
  .post-item-image {
    height: 200px;
    border: #365c36 2px solid;
    margin-top: 20px;
    border-radius: 25px;
  }

  .post-item-text {
    margin: 10px 20px 10px 20px;
    padding: 10px;
    font-size: 13.5px;
    overflow: auto;
    text-align: center;
  }

  /* .post-item-text::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5; }

  .post-item-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: grey;
    opacity: 0.5;  
  } */

  .post-item-username {
      text-align: right;
      cursor: pointer;
  }

  .post-item-username:hover {
      text-align: right;
  }

  .post-item-username:active {
      text-align: right;
  }

  .post-item-username:visited {
      text-align: right;
  }

  .post-item-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .post-item-footer-button {
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    background-color: #365c36;
    color: whitesmoke;
}

.post-item-footer-button:hover {
    background-color: #497c49;
    cursor: pointer;
    color: whitesmoke;
}
