
/* .all-posts {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 200px;
} */

.posts-container {
  /* margin-left: -90px; */
  /* padding-bottom: 200px; */
  /* height: 100vh;
  width: 100vh; */
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 200px;
}

.post-compose {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* margin-left: -23px; */
}

.post-button {
  padding: 15px;
  border-radius: 25px;
  border: 0;
  /* background-color: #323b58; */
  background-color: #365c36;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  /* margin-top: 0px; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 240px;
  /* outline: 0; */
}

.post-button:focus {
  outline-width: 0;
}

.post-button:hover {
  /* background-color: #4e5c89; */
  /* background-color: #2E4C53; */
  /* background-color: #4e5c89; */
  background-color: #497c49;
}

/* .input[type='file'] {
  color: transparent;
  opacity: 0;
  display: none;
  width: 0px;
} */

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  color: transparent;
  display: none;
  opacity: 0;
}

.custom-file-input{
  border: 0;
  outline: none;
  -webkit-appearance: none;
}

.custom-file-input::before {
  content: 'Choose a Photo';
  display: flex;
  align-self: center;
  align-content: center;
  margin-left: 80px;
  width: 140px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 34px;
  padding-left: 64px;
  /* padding: 20px 20px; */
  border-radius: 40px;
  border: 0;
  background-color: #323b58;
  align-content: center;
  color: white;
  font-weight: bolder;
  font-size: 14px;
  border: 1px solid #323b58;
  border-radius: 40px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.custom-file-input:hover::before {
  /* background-color: #497c49; */
  background-color: #4e5c89;
}



.post-textarea {
  width: 420px;
  height: 300px;
  font-size: 20px;
  border-radius: 35px;
  border: 2px solid gray;
  outline: 0;
  margin-bottom: 15px;
  word-wrap: break-word;
  background-color: white;
  font-family: 'Muli', sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}



.posts-container h3 {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  /* margin-left: 80px; */
  font-family: 'Muli', sans-serif;

}

.posts-container h5 {
  font-size: 40px;
  margin-bottom: 45px;
  font-family: 'Muli', sans-serif;
}

.posts-body {
    position: absolute;
    top: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.posts li {
  width: 420px;
  height: 420px;
  border: 5px solid #365c36;
  border-radius: 70px;
  text-decoration: none;
  /* padding-top: 100px; */
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.posts li:last-child {
  margin-bottom: 100px;
}

.post-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.post-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

