.post-compose {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-button {
  padding: 15px;
  border-radius: 25px;
  border: 0;
  background-color: #365c36;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 230px;
  text-align: center;
}

.post-button:focus {
  outline-width: 0;
}

.post-button:hover {
  background-color: #497c49;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  color: transparent;
  display: none;
  opacity: 0;
}

.custom-file-input::before {
  content: "Choose a Photo";
  display: flex;
  align-self: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 58px;
  border-radius: 40px;
  border: 0;
  background-color: #323b58;
  align-content: center;
  color: white;
  font-weight: bolder;
  font-size: 14px;
  border: 1px solid #323b58;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
}

.post-textarea:hover::before {
  background-color: #4e5c89;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-textarea {
  width: 420px;
  height: 300px;
  font-size: 20px;
  border-radius: 35px;
  border: 2px solid gray;
  outline: 0;
  margin-bottom: 15px;
  word-wrap: break-word;
  background-color: white;
  font-family: "Muli", sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.posts-container {
  width: 35%;
}

.posts-container h3 {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-family: "Muli", sans-serif;
}

.posts-container h5 {
  font-size: 40px;
  margin-bottom: 45px;
  font-family: "Muli", sans-serif;
  align-self: center;
}

.posts-body {
  width: 35%;
  position: absolute;
  align-self: center;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  align-self: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts li:last-child {
  margin-bottom: 100px;
}

.post-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.post-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

.all-posts {
  display: flex;
  justify-content: flex-start;
  animation: 3s fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.map-container {
  width: 65%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}
