.chats-main {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  animation: 2s fadeInDown;
  background: url('/assets/images/clouds-white.jpg');
  opacity: 0.95;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 0.9;
  }
} 

.joined-chats-container {
  padding-top: 150px;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outerContainer {
  padding-top: 75px;
  animation: 1s fadeInDown;
  background: url('/assets/images/clouds-white.jpg');
  opacity: 0.95;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.users-online {
  height: 70%;
}

.container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 25px;
  height: 70%;
  width: 60%;
  opacity: 0.95;
  animation: 3s zoomOut;
}

@keyframes zoomOut {
  0% {
    scale: 0;
 }
 100% {
    scale: 1;
 }
}

.chat-modal-container {
  height: 100%;
  width: 100%;
  background-color: red;
  
}

.chat-modal-right {
  position: absolute;
  right: 0;
  top: 50%;
}