.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  font-size: 15px;
  border-radius: 25px;
  padding: 15px;
  margin-top: 25px;
  width: 80%;
  background-color: #d3d3d3;
  border: 2px solid #d3d3d3;
  opacity: 0.4;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #d3d3d3;
  background-color: white;
  opacity: 0.6;
}

.sendButton {
  color: #fff !important;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  text-transform: uppercase;
  text-decoration: none;
  background: #305030;
  padding: 15px;
  display: inline-block;
  border: none;
  width: 20%;
}

.sendButton:hover {
  background: #4a7d4a;
  cursor: pointer;
}
