.session-form-main {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


.session-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* height: calc(100vh - 60px); */
}

.session-form {
  display: block;
  text-align: center;
  width: 400px;
  max-height: 500px;
  margin: auto;
  border-radius: 20px;
}

.session-form > h3 {
  font-size: 16px;
}

.session-form > session-form-label {
  text-align: left;
}

.session-form-label {
  text-align: center;
  width: 100%;
  font-size: 15px;
}
.session-form-field {
  padding-top: 5px;
  padding: 15px;
  font-size: 15px;
  color:#161a27;
  border: 0px;
  border-radius: 25px;
  width: 80%;
  margin-bottom: 15px;
  opacity: 0.6;
}

.session-errors {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 12px;
  color: red;
  list-style: none;
  margin-top: 0px;
  margin-left: -20px;
}

/* .error-popup {
    position:fixed;
    top:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    z-index: 2000;
}

.error-popup > div {
    border-radius: 5px;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 3s linear forwards;
    box-shadow: 0 4px 12px white;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; top:-50px; }
    5%, 96% { opacity: 1; top:0px;}
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; top:-50px; }
    5%, 96% { opacity: 1; top:0px;}
}

.error-popup > div > ul {
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    background: orange;
    color: white;
} 
 */

.login-signup-header img {
  width: 100px;
}

.session-button {
  width: 87%;
  padding: 15px;
  border-radius: 25px;
  border: 0;
  /* background-color: #323a58; */
  /* background-color: #1c2e32; */
  /* background-color: #264026; */
  background-color: #305030;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  /* margin-top: 0px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* outline: 0; */
}

.session-button:focus {
  outline-width: 0;
}

.session-button:hover {
  /* background-color: #4e5c89; */
  /* background-color: #2E4C53; */
  background-color: #4a7d4a;
}

.demo-button {
  width: 87%;
  padding: 15px;
  border-radius: 25px;
  border: 0;
  /* background-color: #161a27; */
  background-color: #323b58;
  /* background-color: #323b58; */
  /* background-color: orange; */
  color: white;
  font-size: 14px;
  font-weight: bolder;
}

.demo-button:focus {
  outline-width: 0;
}

.demo-button:hover {
  /* background-color: #4e5c89; */
  background-color: #4e5c89;
}


.session-form-bottom {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10px;
}

.bottom-session-text {
  color: black;
  display: flex;
  /* flex-direction: column; */
  align-self: center;
  text-align: center; 
  font-size: 15px;
  /* padding-right: 10px; */
}

.bottom-session-link {
  text-decoration: none;
}

.session-form-field:active {
  padding: 15px;
  font-size: 15px;
  color:#161a27;
  border-radius: 25px;
}

.session-form-field:focus {
  padding: 15px;
  font-size: 15px;
  color:#161a27;
  border: solid 1px grey;
  outline-style: none;
  border-radius: 25px;
}

.bottom-session-text {
  color: black;
  display: flex;
  /* flex-direction: column; */
  align-self: center;
  text-align: center; 
  font-size: 15px;
}

.bottom-session-link {
  text-decoration: none;
}

