
.navbar-container {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    /* margin-top: 5px; */
    padding-top: 85px;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-main {
    align-self: center;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #264026;
    /* background-color: #1a3515; */
    /* background-color: #305030; */


    /* background-color: #11230e; */
    /* background-color: #22411D; */
    /* background-color: #345B2E; */
    /* background-color: #445046; */
    /* background-color: #425140; */
    position: fixed;
    width: 90%;
    z-index: 1;
    border-radius: 60px;
} 

/* .navbar-whitepspace {
  width: 1300px;
  height: 100px;
  background-color: whitesmoke;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
  top: 0;
} */

.navbar-center-holder {
    /* width: 100px; */
    height: 100%;
}

.navbar-logo {
    text-align: center;
    display: block;
    width: 100px;
    padding-left: 30px;
}

.navbar-logo img {
    margin: auto;
    margin-top: 5px;
    width: 85%;
    height: 85%;
}

.navbar-menu-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    padding: 0px;
    padding-right: 30px;

}
.navbar-menu {
  font-size: 12.5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  width: 150px;
  padding: 0px;
  padding-right: 30px;
}

.globe-icon {
  font-size: 30px;
  color: white;
  border: 0;
}

.globe-icon:hover {
  color: #a5b3a7;
}

.nav-bar-menu a {
  padding-top: 15px;
}

.navbar-menu a:link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-menu a:hover {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu a:active {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-menu a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo a:link {
    color: whitesmoke;
    color: black;
    text-decoration: none;

}

.navbar-logo a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo a:active {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-menu-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar-menu-2 a {
  /* padding-top: 15px; */
  font-size: 12.5px;
}

.navbar-menu-2 a:link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-menu-2 a:hover {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu-2 a:active {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-menu-2 a:visited {
    color: whitesmoke;
    text-decoration: none;
    font-size: 10px;
}

/* 
.navbar-logout {
    color: whitesmoke;
}

.navbar-logout a:link {
    color: whitesmoke;
    color: inherit;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    border: none;
    margin-right: 10px;
}



.navbar-logout a:hover {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.navbar-logout a:active {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logout a:visited {
    color: whitesmoke;
    text-decoration: none;
} */
 
/* .navbar-logout {
  width: 75px;
  padding: 10px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0;
  color: white;
  background-color: #264026;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 140px;
  margin-right: 10px;
} */

/* .logout-button:focus {
  outline-width: 0;
}

.logout-button:hover {
  background-color: #4e5c89;
} */