/* .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar button {
    height: 20px;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
} */

.body {
    margin: auto;
}

.navbar-main {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #455078;
    padding-left: 20px;
}

.navbar-left-holder {
    color: none;
    width: 120px;
}

.navbar-logo {
    color: whitesmoke;
}

.navbar-menu {
    font-size: 12.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    width: 120px;
    padding: 10px;
}

.navbar-menu a:link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-menu a:hover {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu a:active {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-menu a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo a:link {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo a:active {
    color: whitesmoke;
    text-decoration: none;
}

.logout-button {
  width: 75px;
  padding: 10px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0;
  /* background-color: #323a58; */
  background-color: #161a27;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 10px;
}

.logout-button:focus {
  outline-width: 0;
}

.logout-button:hover {
  background-color: #4e5c89;
}