.form-test {
  z-index: 99;
}

.map-inputs {
    outline-width: 0;
}

.map-inputs:focus {
    outline-width: 0;
}

.map-form-container {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
    width: 200px;
    height: 50px;
}