.map-window {
  z-index: -999;
}

.map-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.map-form {
  display: block;
  text-align: center;
  width: 400px;
  height: 380px;
}

.map-form-header {
  font-size: 30px;
  font-family: "Muli", sans-serif;
  font-weight: 800;
}

.map-inputs {
  outline-width: 0;
  padding-top: 15px;
  padding: 15px;
  font-size: 15px;
  color: #161a27;
  border: 0px;
  border-radius: 25px;
  width: 80%;
  margin-bottom: 15px;
  opacity: 0.6;
  font-family: "Muli", sans-serif;
}

.map-inputs:focus {
  outline-width: 0;
}

.submit-button {
  width: 50%;
  padding: 15px;
  border-radius: 25px;
  border: 0;
  background-color: #305030;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: "Muli", sans-serif;
}

.submit-button:hover {
  background-color: #4a7d4a;
  cursor: pointer;
}

.submit-button:focus {
  outline-width: 0;
}

.return-button {
  width: 50%;
  padding: 15px;
  border-radius: 25px;
  border: 0;
  background-color: #305030;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Muli", sans-serif;
}

.return-button:hover {
  background-color: #4a7d4a;
  cursor: pointer;
}

.return-button:focus {
  outline-width: 0;
}

.home-button {
  z-index: 999;
  position: absolute;
  top: 11px;
  left: 185px;
  color: white;
  background-color: #305030;
  border-radius: 2px;
  border: 1px solid;
  font-size: 30px;
  background-color: none;
}

.home-button:hover {
  background-color: #4a7d4a;
  cursor: pointer;
}

.home-button:focus {
  outline-width: 0;
}

.map-container .home-button {
  display: none;
}

.map-container {
  height: 120%;
}

.google-map {
  height: 100%;
}

.map-container .info-button {
  position: absolute;
  left: 5px;
  top: 150px;
  color: #305030;
  z-index: 99999;
  background: none;
  border: 0px;
  font-size: 40px;
  cursor: pointer;
}

.map-container .info-button:hover {
  color: #4a7d4a;
}

.info-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #305030;
  z-index: 99999;
  background: none;
  border: 0px;
  font-size: 40px;
  cursor: pointer;
}

.info-button:hover {
  cursor: pointer;
  color: #4a7d4a;
}

.info-modal-container {
  display: none;
}

.gm-style .gm-style-iw-c {
  padding: 20px;
  padding-top: 10px;

  padding-right: 20px;
  padding-bottom: 20px;
  width: 350px;
}

.gm-style-iw-d h1 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

.gm-style-iw-d p {
  text-align: center;
  line-height: 1.5;
  
}

.gm-ui-hover-effect {
  padding-top: 3px;
  padding-right: 3px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}