.profile-main {
    font-family: 'Muli', sans-serif;
    position: absolute;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    animation: 3s fadeInDown;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
} 

/* .profile-button {
  cursor: pointer;
  display: inline-block;  
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 2em;
  background: white;
  color: black;
   &:after {
    border-left: 20px solid white;
  }
}

.profile-button:after {
  content: "";
  position: absolute;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  height: 0px;
  width: 0px;
  margin-right: -20px;
  right: 0; 
}

.profile-button:hover, .profile-button:active {
  background: yellow;
  color: black;
  &:after {
    border-left: 20px solid yellow;
  }
} */




.profile-button {
  /* background-color: #616b73;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 240px;
  position: absolute;
  left: 7%;
  top: 20%;
  outline: 0; */
  /* color: black; */
  position: fixed;
  left: 6%;
  top: 50%;
  border-radius: 25px;
  border: 0;
  /* background-color: #323b58; */
  /* color: white; */
  font-weight: bolder;
  /* margin-top: 0px; */
}

.font-awesome-back {
  color: #365c36;
  font-size: 38px;
}

.font-awesome-back:hover {
  color: #4d804d;
  cursor: pointer;
}

.font-awesome-back:active {
  color: #4d804d;
  outline-style: none;
  outline-color: transparent;
}

.user-profile h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-list-post {
    /* width: 400px;
    height: 300px;
    border: 5px solid #365c36;
    border-radius: 70px;
    text-decoration: none;
    padding-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; */
    width: 420px;
    height: 420px;
    border: 5px solid #365c36;
    border-radius: 70px;
    text-decoration: none;
    /* padding-top: 100px; */
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .profile-loading {
  
} */

.another-class h2 {
  display: flex;
  align-items: center;
  flex-direction: column;

}
