.app-main {
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
}









/* .App {
  text-align: center; */
  /* background-color: aliceblue; */
  /* background-color: #c9e6ff; */

/* } */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .footer-main {
  width: 100%;
  height: 200px;
} */


/* 
.splash {
  height: 100hv;
}

.splash-posts {
  width: 40%;
  overflow: auto;
  height: 800px;
}

.splash-map {
  width: 60%;
} */

/* .app-main-container {
  background-color: white;
  opacity: 0.5;
  z-index: 0;
} */

/* .app-main-footer {
  z-index: 1;
} */
